body {
    margin: 0;
    color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container {
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-size:1.625rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-top: 10px;
}

.cloud1 {
    position: absolute;
    right: 300px;
    top: 50px;
}

.cloud2 {
    position: absolute;
    left: 150px;
}

.middle-container {
    position: relative;
    margin: 100px 0;
}

.intro {
    width: 25%;
    line-height: 2;
    font-weight: lighter;
    margin: auto;
}

.pic {
    width: 10%;
}

hr {
    border: dotted #EAF6F6 6px;
    width : 4%;
    margin: 50px auto;
    border-bottom: none;
}

.skill {
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 1.5;
}

.coffee {
    width: 20%;
    float: left;
    margin-right: 20px;
}

.travel {
    width: 20%;
    float: right;
    margin-left: 20px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .contact {
      margin-top: 50px;
  }

  .footer {
      background-color: cadetblue;
      text-align: center;
      padding: 50px 0 20px;
  }

  a {
      color: cornsilk;
      text-decoration: none;
      margin: 10px 20px;
      font-weight: bold;
      font-family: sans-serif;
  }

 a:hover {
     color: whitesmoke;
 }