/* font-family: 'Poppins', sans-serif;
font-family: 'Noto Sans SC', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:500|Poppins:400,900&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.top-container {
    padding-top: 60px;
    padding-left: 150px;
    background-color: #333645;
}


.top-container span {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.top-container h2 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: 900;
    display: inline;
}

.nav-link {
    float: right;
}

ul#menu li{
    display: inline;
    position: relative;
    bottom: 30px;
    right: 150px;
    padding-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #f8646c;
    transition: 0.6s;
}

.main-item-left {
    bottom: 280px;
    left: 49%;
    margin-bottom: -120px;
}

.social-top {
    position: absolute;
    line-height: 60px;
    top: 60%;
    display: block;
    color: #fff;
}

.front-image {
    /* margin-top: -10px; */
    width: 35%;
    padding-top: 90px;
    padding-left: 80px;
}

.line {
    color: #fff;
    height: 10px;
    background-color: #fff;
    width: 80px;
    position: relative;
    left: 49%;
    bottom: 300px;
}

.main-head {
    color: #fff;
    position: relative;
    bottom: 280px;
    left: 49%;
    font-size: 70px;
    font-weight: 500;
    width: 40%;
    letter-spacing: 2px;
    line-height: 90px;
}

.main-p {
    color: #fff;
    position: relative;
    bottom: 260px;
    right: 260px;
    float: right;
}

.button-area {
    position: relative;
    bottom: 150px;
    float: right;
    right: -170px;
}

.button-area button {
    margin-right: 20px;
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
}

.primary {
    background-color: #f8646c;
    border: none;
    font-family: sans-serif;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.primary:hover {
    background-color: #000;
    color: #f8646c;
    transition: 0.7s;
}

.secondary {
    background-color: #333645;
    border: 1px solid #f8646c;
    outline: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.secondary:hover {
    background-color: #f8646c;
    color: #fff;
    transition: 0.6s;
}

.icon:hover {
    color: #f8646c;
    cursor: pointer;
    transition: 0.5s;
}

.second-container {
    background-color: #333645;
}

.second-container